// All styles kept in here, not worth to be separated into components

body {
	display: flex;
	flex-flow: column;
	align-items: center;
	padding: 0 1rem;
	background: #efefbb;
	background: linear-gradient(to right, #d4d3dd, #efefbb);
}

h1 {
	margin: 4rem 0;
	font-size: 3rem;
	letter-spacing: 3px;
}

.dex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: space-between;
	gap: 2rem;
	max-width: 120rem;
	margin: 0 auto;
}

.pokemon {
	padding: 2rem;
	border-radius: 10px;
	box-shadow: 0 3px 1.5rem rgba(100, 100, 100, 0.5);
	background-color: #eee;
	text-align: center;

	&__img {
		width: 12rem;
		height: 12rem;
		margin-bottom: 1.5rem;
		border-radius: 50%;
		background-color: rgba(255, 255, 255, 0.6);
		text-align: center;

		img {
			max-width: 90%;
			margin-top: 2rem;
		}
	}

	&__info {
		margin-top: 1rem;

		& > span {
			padding: 5px 1rem;
			border-radius: 1rem;
			background-color: rgba(0, 0, 0, 0.1);
			font-size: 1.3rem;
		}

		h3 {
			margin: 1.5rem 0 7px;
			font-size: 1.65rem;
			letter-spacing: 1px;
		}

		small {
			font-size: 1.2rem;
		}
	}
}
