// All styles kept in here, not worth to be separated into components
body {
    display: grid;
    justify-items: center;
    align-content: center;
    height: 100vh;
    background-color: #333;
}

.progress {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;

    &__line,
    &__steps::before {
        z-index: -1;
        position: absolute;
        top: 50%;
        left: 0;
        height: 3px;
        transform: translateY(-50%);
    }

    &__line {
        background-color: #2eb086;
        width: 0;
        transition: 400ms ease;
    }

    &__steps {
        &::before {
            content: '';
            width: 100%;
            background-color: #aaa;
        }

        position: relative;
        display: flex;
        justify-content: space-between;
        max-width: 80vw;
        width: 35rem;
        margin-bottom: 3rem;
    }

    &__step {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
        border: 3px solid #e0e0e0;
        background-color: #fff;
        color: #000;
        border-radius: 50%;
        transition: 400ms ease;
    }

    &--active {
        border-color: #2eb086;
    }

    &__btn {
        margin: 0.5rem;
        padding: 0.8rem 3rem;
        border: 0;
        border-radius: 6px;
        background-color: #2eb086;
        color: #fff;
        font-family: inherit;
        font-size: 1.4rem;
        cursor: pointer;

        &:active {
            transform: scale(0.98);
        }

        &:focus {
            outline: 0;
            box-shadow: 0 0 0 0.5rem rgba(#2eb086, 0.5);
        }

        &:disabled {
            background-color: #aaa;
            cursor: not-allowed;
        }
    }
}
