// All styles kept in here, not worth to be separated into components
body {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
    background-color: #151D3B;
}

.btn {
    display: block;
    padding: 1.5rem 2rem;
    border-radius: .5rem;
    border: none;
    background-color: #6EBF8B;
    color: #fff;
    font-family: inherit;
    font-weight: 600;
    cursor: pointer;

    &:focus {
        outline: none;
        transform: scale(1.02);
    }

    &:active {
        transform: scale(0.98);
    }
}

.toasts {
    position: fixed;
    top: 1rem;
    right: 1rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    gap: 1rem;
}

.toast {
    padding: 1rem 2rem;
    border-radius: .5rem;
    background-color: #F7F7F7;
    color: #5902EC;
    font-size: 1.25rem;
}