// All styles kept in here, not worth to be separated into components
body {
	display: grid;
	place-content: center;
	height: 100vh;
	background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

h2 {
	position: absolute;
	top: 1rem;
	left: 50%;
	transform: translateX(-50%);
	font-size: 2.25rem;
}

.range-slider {
	position: relative;

	input {
		width: 30rem;
		margin: 3.5rem 0 1rem 0;
		appearance: none;
		background: transparent;

		&::-webkit-slider-runnable-track {
			height: 1rem;
			background: linear-gradient(90deg, #25377a 0%, #000000 100%);
			cursor: pointer;
		}

		&::-moz-range-track {
			height: 1rem;
			border-radius: 4px;
			background: linear-gradient(90deg, #25377a 0%, #000000 100%);
			cursor: pointer;
		}

		&::-webkit-slider-thumb {
			width: 2rem;
			height: 2rem;
			margin-top: -5px;
			border: 1px solid #151d3b;
			background-color: #aaa;
			appearance: none;
		}

		&::-moz-range-thumb {
			width: 2.4rem;
			height: 2.4rem;
			margin-top: -7px;
			border: 1px solid #151d3b;
			background-color: #aaa;
			cursor: pointer;
			appearance: none;
		}
	}

	label {
		position: absolute;
		top: 0;
		left: 0%;
		padding: 0.5rem 1.5rem;
		border-radius: 4px;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
		background-color: #151d3b;
		color: #fff;
	}
}
