html {
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

*:focus {
	outline: none;
	box-shadow: 0 0 0 3px rgba(#202022, 0.5);
}

html {
	font-size: 62.5%;
}
