// All styles kept in here, not worth to be separated into components
body {
	display: grid;
	justify-content: center;
	align-content: center;
	height: 100vh;
	background-color: #222;
}

.btn-ripple {
	position: relative;
	overflow: hidden;
	margin: 1rem 0;
	padding: 2rem 3rem;
	border: 1px solid #d82148;
	background-color: #d82148;
	color: #fff;
	font-size: 1.4rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: all 200ms ease-in;

	&:focus {
		border: 2px solid #fff;
	}

	&:hover {
		border-color: #b30c30;
		background-color: #b30c30;
		cursor: pointer;
	}

	&__circle {
		position: absolute;
		width: 10rem;
		height: 10rem;
		border-radius: 50%;
		background-color: #fff;
		transform: translate(-50%, -50%) scale(0);
		animation: scale 500ms ease-out;
	}
}

@keyframes scale {
	to {
		opacity: 0;
		transform: translate(-50%, -50%) scale(3);
	}
}
